<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="AdaptiveAutosarNature"
         name="Adaptive AUTOSAR Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="kr.co.rtst.autosar.ap4x.core.nature.AdaptiveAutosarProjectNature">
         </run>
      </runtime>
   </extension>

</plugin>
